/* General styles */
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* Header styles */
header {
  background-color: #fff;
  height: 100px;
}

#blueLogo {
  font-family: 'Raleway Dots', sans-serif;
  color: #92A8D1;
  font-size:55px;
  margin: 40px auto;
  text-align: center;
  font-weight: normal;
}

#pinkLogo {
  color: #F7CAC9;
  margin: auto;

}

input {
  width: 600px;
  height: 40px;
  border:  2px dotted #92A8D1;
  margin:  auto;
  text-align: center;
}

button {
  width: 250px;
  height: 40px;
  margin: 20px auto;
}

.player {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.slider {
  display: none;
  align-self: center;
}

#artistInput {
  margin-top: 20px;
}

#songInput {
  margin-top: 20px;
}

.header-section {
  height: 100px;
}

#submit {
  background: white;
  border-radius: 3px;
  border: 1px dotted #92A8D1;
  color:  #92A8D1;
}

#submit:hover {
  background: #92A8D1;
  color: #fff;
}

.flex-item {
  flex-shrink: 1;
}